@charset "utf-8";
/* CSS Document */
body {
    overflow: hidden;
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
    color: #343434;
    background: #454545;
}

#dropmenu{
  list-style-type: none;
  width: 800px;
  height: 40px;
  margin: 30px auto 300px;
  padding: 0;
  background: #ff0;
}
#dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#dropmenu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
	padding: 0;
}
#dropmenu li:last-child ul{
  left: -100%;
  width: 100%
}
#dropmenu li ul li{
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#dropmenu li ul li a{
  padding: 13px 15px;
  background: #999;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
#dropmenu li:hover > a{
  background-color: #000;
  color: #eff7b1;
}
#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
}
#dropmenu li:hover ul li:first-child{
  border-top: 0;
}
#dropmenu li:hover ul li:last-child{
  border-bottom: 0;
}
#dropmenu li:hover ul li:last-child a{
  border-radius: 0 0 3px 3px;
}
